:root {
    --bs-font-sans-serif: Montserrat, sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: #858585;
    --bs-body-color-rgb: 133, 133, 133;
    --light-color: #D9D9D9;
    --dark-color: #7a7a7a;
    --bs-body-font-size: 1.1rem;
}

a {
    word-break: break-word;
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #000000;
}

@media print {
    :root {
        --bs-body-color: #000;
    }

    body {
        font-size: 0.7rem;
    }

    a {
        text-decoration: underline;
    }

    .page {
        min-width: 100%;
    }

    .screen {
        display: none;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .badge {
        border: 0.07rem solid #868e96;
        color: inherit;
        background-color: inherit;
    }

    .print-url {
        color: #deeef9;
        text-decoration: none;
        font-size: smaller;
    }

    .text-print-right {
        text-align: right;
    }

    .fs-5,
    .fs-6 {
        font-size: 0.7rem !important;
    }

    .col-print-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .grey {
        color: #D9D9D9;
    }

    .switch {
        display: none;
    }
}

@media not print {
    .page {
        padding: 2rem;
    }

    .print {
        display: none;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    strong {
        font-weight: 500;
    }

    .grey {
        color: #7a7a7a;
    }

    .bouncing-image:hover {
        animation: bounce 0.5s infinite ease-in-out;
    }

    @keyframes bounce {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
    }

    .rotating-image {
        transition: transform 5s ease-in-out;
    }

    .rotate {
        transform: rotateY(1800deg);
    }

    :root {
      --bg-color: white;
      --text-color: black;
      --heading-color: #333;
    }

    .dark-mode {
      --bg-color: #17202a;
      --text-color: white;
      --heading-color: white; /* Example: Yellow headings in dark mode */
    }

    body, .list-group-item {
      background-color: var(--bg-color);
      color: var(--text-color);
      transition: background-color 0.5s, color 0.5s;
    }

    h1, h2, h3, h4 {
      color: var(--heading-color);
      transition: color 0.5s;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.5s;
      border-radius: 25px;
    }

    .slider:before {
      content: "";
      position: absolute;
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 3.5px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #222;
    }

    input:checked + .slider:before {
      transform: translateX(24px);
      background-color: white;
    }
}

.far,
.fab,
.fas,
.fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .border-print-0 {
        border-width: 0 !important;
    }

    .pb-print-0 {
        padding-bottom: 0 !important;
    }

    .mb-print-1 {
        margin-bottom: 1rem !important;
    }
}

.fact-icon {
    width: 1em;
    color: var(--dark-color);
    margin-right: 0.5rem;
}

@page {
    size: auto;
    margin: 10mm;
}
